<!DOCTYPE hbs>
<hbs lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Page via NodeJs</title>
        <link rel="stylesheet" href="static/css/home.css">
        <link rel="stylesheet" href="static/css/about.css">
        <link rel="stylesheet" href="static/css/media.css" />
    </head>

    <body>
        {{>navbar}}
        <main class="about-main">
            <h1 class="heading">About Us</h1>
            <img class="about-img about-img1" src="../static/svg/social.svg" alt="">
            <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut aliquid dignissimos impedit
                quas
                necessitatibus
                accusantium rem deleniti architecto nesciunt unde consectetur hic, recusandae, quisquam est officia
                suscipit
                deserunt nihil numquam vel libero blanditiis? Laudantium alias quisquam, tempore ducimus omnis quia
                saepe
                qui
                aliquid iure possimus voluptatum, veniam, quaerat obcaecati officia quidem excepturi libero porro.
                Mollitia,
                veritatis? Hic repellendus quo illo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                quibusdam
                provident praesentium earum mollitia deleniti animi, sed laudantium? Saepe quibusdam expedita quis
                consequuntur
                reiciendis ducimus fugiat sunt, iure sapiente magni ab enim explicabo optio, inventore ad quos
                necessitatibus
                voluptatem delectus culpa unde eos dolore. Ipsa maxime ipsam dolor. Eum voluptas iure ad, neque, placeat
                soluta
                labore velit dolorum animi exercitationem, cupiditate minima dolore sequi suscipit recusandae optio vel
                distinctio corporis. Hic commodi, saepe natus ullam molestiae fuga temporibus quia, eos nisi recusandae
                vero
                tempore ea, laborum dignissimos repellendus cumque illum sequi enim reiciendis obcaecati corporis
                officia in
                iste? Vel, eius. </p>
            <img class="about-img about-img2" src="../static/svg/web.svg" alt="">
            <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt, vitae rerum
                velit
                similique
                corporis quidem illo, dolor totam quos provident sint, non atque incidunt asperiores suscipit architecto
                adipisci illum autem voluptatum perferendis ea a numquam ut. Quam itaque veritatis beatae? Tempore
                officiis,
                quibusdam vel accusantium expedita, perferendis saepe earum ab enim itaque fugit eius dignissimos
                exercitationem
                aliquam voluptatibus eos.</p>
        </main>
        {{>footer}}
    </body>

</hbs>