<section id="home">
    <img class="img" src="static/svg/blog2.svg" alt="" />
    <p class="para">Blogs that <br />Empowers <br />USERS</p>
    <button class="btn"><a class="about-btn" href="/logout">Logout</a></button>
</section>