<header>
    <nav>
        <ul class="navbar">
            <li class="navlist">
                <a class="navlink" href="/">
                    <i class="fas fa-2x fa-home"></i>Home
                </a>
            </li>
            <li class="navlist"><a class="navlink" href="/register"><i
                        class="fas fa-2x fa-concierge-bell"></i>Register</a>
            </li>
            <li class="navlist"><a class="navlink" href="/login"><i class="fas fa-address-card"></i>Login</a></li>
            </li>
            <li class="navlist"><a class="navlink" href="/about"><i class="fas fa-address-card"></i>About</a></li>
            </li>
        </ul>
    </nav>
</header>