.registeration-container{
    display: grid;
    place-items: center;
    width:100%;
}
.register-form{
    width:50%;
    background-color:skyblue;
    padding:2rem 0rem;
    margin:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
}
.fields{
    padding:.4rem;
    margin:.6rem;
    width:350px;
    border-radius: .4rem;
    font-size:1.2rem;
    text-align: center;
    border:2px solid black;
}
.fields .gender{
    color:black;
}
.submit-btn{
    width:150px;
    text-align: center;
}
.submit-btn:hover{
    background-color:black;
    color:gold;
}
